<h3>Edit Recipe: <%= @recipe.name %></h3>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Recipe Name:</label>
  <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>">
  <br>

  <label>Recipe Course:</label>
  <input type="radio" name="recipe[course]" id="Hors d'oeuvres" value="Hors d'oeuvres" <%='checked' if @recipe.course == "Hors d'oeuvres" %>> Hors d'oeuvres</input>
  <input type="radio" name="recipe[course]" id="Amuse-Bouche" value="Amuse-Bouche" <%='checked' if @recipe.course == "Amuse-Bouche" %>> Amuse-Bouche</input>
  <input type="radio" name="recipe[course]" id="Soup" value="Soup" <%='checked' if @recipe.course == "Soup" %>> Soup</input>
  <input type="radio" name="recipe[course]" id="Appetizer" value="Appetizer" <%='checked' if @recipe.course == "Appetizer" %>> Appetizer</input>
  <input type="radio" name="recipe[course]" id="Salad" value="Salad" <%='checked' if @recipe.course == "Salad" %>> Salad</input>
  <input type="radio" name="recipe[course]" id="Entree" value="Entree" <%='checked' if @recipe.course == "Entree" %>> Entree</input>
  <input type="radio" name="recipe[course]" id="Side" value="Side" <%='checked' if @recipe.course == "Side" %>> Side</input>
  <input type="radio" name="recipe[course]" id="Dessert" value="Dessert" <%='checked' if @recipe.course == "Dessert" %>> Dessert</input>
  <br>

  <label for="description">Recipe Description:</label><br>
  <textarea id="description" name="recipe[description]" rows="5" cols="60"><%= @recipe.description %></textarea>
  <br>
  <label for="image_url">Recipe Image URL:</label>
  <input id="image_url" type="text" name="recipe[image_url]" value="<%= @recipe.image_url %>">
  <br>
  <label for="total_time">Total Time:</label>
  <input id="total_time" type="text" name="recipe[total_time]" value="<%= @recipe.total_time %>">

  <label for="cook_time">Cook Time:</label>
  <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>">
  <br><br>

  <label>Current Ingredients:</label><br>
  <% @recipe.recipe_ingredients.each do |ingredient| %>
    <% i = Ingredient.find_by(id: ingredient.ingredient_id) %>
    <fieldset>
      <label for="ingredient_name">Name:</label>
      <input id="ingredient_name" type="text" name="recipe[ingredients][][name]" value="<%= i.name %>">
      <label for="ingredient_amount">Amount:</label>
      <input id="ingredient_amount" type="text" name="recipe[ingredients][][ingredient_amount]" value="<%= ingredient.ingredient_amount %>">
      <label for="food_group">Food Group:</label>
      <input id="food_group" type="text" name="recipe[ingredients][][food_group]" value="<%= i.food_group %>">
      <br>
    </fieldset>
  <% end %>
  <br>
  <label>Add Ingredients:</label><br>
  <% 5.times do %>
    <fieldset>
      <label for="ingredient_name">Name:</label>
      <input id="ingredient_name" type="text" name="recipe[new_ingredients][][name]">
      <label for="ingredient_amount">Amount:</label>
      <input id="ingredient_amount" type="text" name="recipe[new_ingredients][][ingredient_amount]">
      <label for="food_group">Food Group:</label>
      <input id="food_group" type="text" name="recipe[new_ingredients][][food_group]">
      <br>
    </fieldset>
  <% end %>

  <br><br>
  <label for="instructions">Instructions:</label><br>
  <textarea id="instructions" name="recipe[instructions]" rows="30" cols="60"><%= @recipe.instructions %></textarea>
  <br><br>
  <input type="submit" value="Update Recipe">
</form>
<br>
<form>
  <button type="submit" formaction="/recipes/<%= @recipe.id %>"> Cancel </button>
</form>
