<% if @recipes.present? %>
  <h1><%= @recipes.size %> Results</h1>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <% if !recipe.image_url.blank? %>
        <br>
        <a href="/recipes/<%= recipe.slug %>">
          <img src="<%= recipe.image_url %>" alt="<%= recipe.name %> photo" height="150" width="200">
        </a/><br>
      <% end %>
      <h3><a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a></h3>
      <p>Course: <%= recipe.course.name %></p>
      <strong><%= recipe.created_at.strftime("Created on %B %-d, %Y") %> by <a href="/users/<%= recipe.user.slug %>"><%= recipe.user.display_name %></a></strong>
      <br><br>
    </div>
  <% end %>
<% else %>
<br><br>
  <p>There are no recipes containing <%= params[:search] %>.</p>
<% end %>
<div class="field">
  <div class="control">
    <button class="button is-info is-small is-fullwidth" onclick="window.location.href = '<%= request.referer %>';">Back</button>
  </div>
</div>
