<h1><%= @recipe.name %></h1>
<% if !@recipe.description.blank? %>
  <p>Description: <%= @recipe.description %></p>
<% end %>
<p>Course: <%= @recipe.course %></p>
<% if !@recipe.image_url.blank? %>
  <img src="<%= @recipe.image_url %>" alt="<%= @recipe.name %> photo" height="200" width="200"><br>
<% end %>
By: <%= @recipe.user.display_name %>

<h3>Ingredients</h3>
<% @recipe.recipe_ingredients.each do |ingredient| %>
  <% i = Ingredient.find(ingredient.ingredient_id) %>
  <%= i.name %> -- <%= ingredient.ingredient_amount %>
  <br>
<% end %>
<br>
<h3>Instructions</h3>
<div style="white-space: pre-wrap;"><%= @recipe.instructions %></div>
<br><br>

<% if authorized_to_edit?(@recipe) %>
  <form class="" action="/recipes/<%= @recipe.id %>/edit" method="get">
    <input type="submit" name="" value="Edit This Recipe">
  </form>
  <br>
  <form class="" action="/recipes/<%= @recipe.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Recipe">
  </form>
 <% end %>
