<h3>Hello, <%= @user.display_name %>!</h3>
<h2>Here are your recipes</h2>

<% @user.recipes.each do |recipe| %>
  <div class="recipe">
    <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
    <% if !recipe.image_url.blank? %>
      <img src="<%= recipe.image_url %>" alt="<%= recipe.name %> photo" height="100" width="100"><br>
    <% end %>
    <strong>Description: <%= recipe.description %></strong>
    <br>
    <%= recipe.created_at.strftime("Created on %m/%d/%Y at %I:%M %p") %>
    <br><br>
  </div>
  <br>
<% end %>
