<h1><%= @user.display_name %>'s Recipes</h1>

<% @user.recipes.order(:name).each do |recipe| %>
  <div class="recipe">
    <h3><a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a></h3>
    <% if !recipe.image_url.blank? %>
      <a href="/recipes/<%= recipe.slug %>">
        <img src="<%= recipe.image_url %>" alt="<%= recipe.name %> photo" height="100" width="100">
      </a><br>
      <% end %>
    <strong>Description: <%= recipe.description %></strong>
    <br>
    <%= recipe.created_at.strftime("Created on %m/%d/%Y at %I:%M %p") %>
    <br>
  </div>
  <br>
<% end %>

<% if @user == current_user %>
  <div class="field">
    <div class="container">
      <form class="" action="/users/<%= @user.slug %>/edit" method="get">
        <input class="button is-success is-small is-fullwidth" type="submit" name="" value="Edit Profile">
      </form>
    </div>
  </div>
  <div class="field">
    <div class="container">
      <form class="" action="/users/<%= @user.slug %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="button is-danger is-small is-fullwidth" type="submit" name="" value="Delete Profile">
      </form>
    </div>
  </div>
<% end %>
